.footer {
    text-align: center;
    color: #fff;
    padding-bottom: 40px;

    & a {
        text-decoration: none;
        color: #235aa1;

        &:hover {
            text-decoration: underline;
        }
    }
}