.tasks {
    margin-top: 50px;

    &__task {
        background-color: #fff;
        padding: 16px;
        margin-top: 15px;
        font-size: 20px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

        &:hover {
            transform: translate(2px, -2px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
        }
    }

    &__delete {
        width: 20px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.completed {
    text-decoration: line-through;
    color: #8b8b8b;
}

@media (max-width: 767px) {
    .tasks {
        &__task {
            &:hover {
                transform: none;
                box-shadow: none;
            }
        }
    }
}