@use 'header';
@use 'tasks';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(50,115,215);
    background-image: linear-gradient(111deg, rgba(50,115,215,1) 0%, rgba(123,170,226,1) 100%);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}